{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb/base"
  ],
  "rules": {
    "no-console": "off",
    "no-alert": "off",
    "eqeqeq": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": [
      "off"
    ],
    "import/extensions": [
      "off"
    ]
  }
}