{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb/base"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "off",
    "eol-last": "off",
    "max-len": [
      "error",
      150,
      {
        "ignoreUrls": true
      }
    ],
    "prefer-destructuring": "off",
    "no-multiple-empty-lines": "off",
    "no-alert": "off",
    "eqeqeq": "off",
    "no-use-before-define": "off",
    "import/prefer-default-export": [
      "off"
    ],
    "import/extensions": [
      "off"
    ]
  }
}